<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diappetes">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DiaLog"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".DoctorDetails"
            android:exported="false" />
        <activity android:name=".History" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Questionnaire" />
        <activity android:name=".ProfileDetails" />
        <activity android:name=".Settings" />
        <activity android:name=".LogMenu" />
        <activity android:name=".Welcome">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Login" />
        <activity android:name=".SignUp1" />
        <activity android:name=".SignUp2" />
        <activity android:name=".BloodSugar" />
        <activity android:name=".ExerciseLog" />
        <activity android:name=".ExtraNotes" />
        <activity android:name=".FoodLog" />
        <activity android:name=".BSHistory" />
        <activity android:name=".MedLog" />
        <activity android:name=".FoodHistory" />
        <activity android:name=".MedHistory" />
        <activity android:name=".ExerciseLogHistory" />
        <activity android:name=".ExtraNotesHistory" />
        <activity android:name=".QuestionnaireHistory" />
        <activity android:name=".Graph"
            android:screenOrientation="landscape"/>


    </application>

</manifest>